* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.todo-list {
    width: 100%;
    max-width: 500px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 5px;
    border: 1px solid black;
}

.todo-item p {
    flex-grow: 1;
}

.todo-controls {
    display: flex;
}

.todo-controls input {
    width: 100%;
}
